* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  padding-right: 0px !important;
  margin-right: 0px !important;
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media (min-width: 768px) {
  .jumbotron {
    height: 50vh;
    padding: 5em inherit;
    margin-bottom: 0;
    background-color: #53C0FB;
    background: url('../img/cover_back2.png');
    background-size: cover;
    background-position: block;
    background-repeat: no-repeat;
    color: black;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media (min-width: 310px) {
  .jumbotron {
    background-position-x: 20%;

  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.alerta {
  padding: 0.3rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  font-size: 1.3rem;
}

.error {
  background-color: rgb(43, 32, 139);
}

.rating {
  font-size: 24px;
  /* Tamaño de las estrellas */
}

.star {
  color: #ccc;
  /* Color de las estrellas apagadas */
  cursor: pointer;
}

.selected {
  color: #ffcc00;
  /* Color de las estrellas al hacer click */
}

/* dark mode */
#switch {
  float: left;
}



label.switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 70px;
  height: 30px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  left: 15px;
}

label.switch:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 26px;
  height: 26px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked+label {
  background: #5b9fc4;
}

input:checked+label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

label.switch:active:after {
  width: 100px;
}

@media (max-width: 767px) {

  /* Media for Phone size */
  .form-control {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.card-body {
  padding: 0em 0.7em 0.5em;
}

.card-text {
  font-size: 15px;
}

.sm-fs {
  font-size: 0.7em;
}


#mensajeNoComentarios {
  display: none;
}

#mapDiv {
  width: 100%;
  height: 300px;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

/* color del icono de tema*/
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

/*color fondo del menu de tema*/
.btn-bd-primary {
  --bd-violet-bg: #ff9100;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #ff9100;
  --bs-btn-hover-border-color: #ff9100;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #ff9100;
  --bs-btn-active-border-color: #ff9100;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.dropdown-item.active {
  /*(menu desplegable) color de la opcion seleccionada*/
  background-color: #ff9100;
}

.dropdown-item:active {
  /*(menu desplegable) color cuando se clickea en la opción*/
  background-color: #ff9100;
}

.navbar {
  background-color: rgb(31, 31, 31);
}